.container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  h3 {
    margin-top: 20px;
    text-align: center;
  }

   
  .stock-dashboard {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  
  canvas {
    width: 60px;  /* Set the width you want */
    height: 60px; /* Set the height you want */
}